<dom-module id="shuttles-map"> 
  <style> 
    :host {
      width: 100%;
      height: 100%;
    }
    #mapCanvas {
      width: 100%;
      height: 100%;
    }
  </style>

  <template> 
    <div id="mapCanvas"></div>
    <iron-ajax
      id="fetchUpdates"
      url="/updates"
      handle-as="json" auto
      on-response="placeMarkers">
    </iron-ajax>
    <iron-ajax
      id="fetchRoutes"
      url="/routes"
      handle-as="json" auto
      on-response="drawRoutes">
  </template>

  <script>
    Polymer({ 

      is: "shuttles-map",

      properties: {
        lat: {
          type: String,
          reflectToAttribute: true
        },
        lng : {
          type: String, 
          reflectToAttribute: true
        },
        zoom: {
          type: String,
          reflectToAttribute: true
        },
        map: {
          type: Object,
          value: {}
        },
        options: {
          type: Object,
          value: {}
        },
        markers: {
          type: Array,
          value: []
        }
      },

      attached: function() {
        this.initializeMap(); 
      },

      initializeMap: function() {
        // Set options and insert google map
        this.options = {
          center: {
            lat: Number(this.lat), 
            lng: Number(this.lng)
          },
          zoom: Number(this.zoom)
        };
        this.map = new google.maps.Map(this.$.mapCanvas, this.options);
        this.periodicUpdates();
      },

      checkForUpdates: function(ajax) {
        ajax.generateRequest();
      },

      periodicUpdates: function() {
        // periodically check screen setup for changes
        setInterval(this.checkForUpdates, 15000, this.$.fetchUpdates);
      },

      placeMarkers: function(event, response) {
        var updates = response.response;
        if (updates) {
          // Clear previous markers from map
          this.clearMarkers();
          // Iterate through each vehicle update
          for (i = 0; i < updates.length; i++) {
            // Create position from vehicle coordinates
            var pos = new google.maps.LatLng(updates[i]["lat"], updates[i]["lng"]);
            // Place shuttle marker on map
            var marker = new google.maps.Marker({
              position: pos,
              map: this.map,
              title: "placeholder"
            });
            this.markers.push(marker);
          }
        } else {
          console.log("no vehicle updates found");
        }
      },

      clearMarkers: function() {
        for (i = 0; i < this.markers.length; i++) {
          this.markers[i].setMap(null);
        }
        this.markers = [];
      },

      drawRoutes: function(event, response) {
        // Draw polylines on map to represent tracking routes
      }
    });
  </script>
</dom-module>