<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/paper-fab/paper-fab.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="stylesheet" type="text/css" href="../css/shuttles-map.css">

<dom-module id="shuttles-map"> 

  <template>  
    <iron-ajax
      id="fetchUpdates"
      url="/updates"
      handle-as="json"
      on-response="placeVehicles">
    </iron-ajax>
    <iron-ajax
      id="fetchRoutes"
      url="/routes"
      handle-as="json"
      on-response="drawRoutes">
    </iron-ajax>
    <iron-ajax
      id="fetchStops"
      url="/stops"
      handle-as="json"
      on-response="placeStops">
    </iron-ajax>
    <iron-ajax
      id="fetchMessages"
      url="/updates/message"
      handle-as="json"
      last-response="{{messages}}">
    </iron-ajax>

    <google-map id="shuttleMap" class="shuttle-map" zoom="{{zoom}}" latitude="{{lat}}" longitude="{{lng}}"></google-map>
    <div id="logo">
      <img src="../images/logo.png" />
    </div>
    <div id="menu">
      <paper-fab on-click="toggleMenu" icon="menu"></paper-fab>
      <paper-dialog id="menuDialog" class="menu-dialog" entry-animation="slide-from-left-animation" exit-animation="slide-right-animation" with-backdrop>
        <template is="dom-bind">
          <paper-toolbar class="menu-toolbar">
            <paper-tabs class="flex" selected="{{selected}}">
              <paper-tab>About</paper-tab>
              <paper-tab>Schedule</paper-tab>
              <paper-tab>API</paper-tab>
            </paper-tabs>
          </paper-toolbar>
          <iron-pages selected="{{selected}}">
            <section>
              <!-- About -->
              <div class="content">
                Shuttle Tracking is designed and maintained by the Student Senate Web Technologies Group.<br/>
                This service is supported by the Parking and Transportation Office, the Administration Division and dotCIO. <br/>
                Much of the original code behind Shuttle Tracking comes from Flagship Geo, an open source mapping project sponsored by RCOS. <br/>
                In 2015, the project returned to RCOS and much of the codebase was updated and rewriten.
              </div>
            </section>
            <section>
              <!-- Schedule -->
              <div class="content">
                Download the RPI Parking and Transportation shuttle schedule.
              </div>
            </section>
            <section> 
              <!-- API Docs & KML --> 
              <div class="content">
                Developers may use our API to enrich their applications, create mobile applications, or implement any other creative ideas!<br/>
                Visit our wiki to learn more about using our API.
                <br/><br/>
                We have also provided KML data for our tracking view. Click to download.
              </div>
            </section>
          </iron-pages>
        </template>
      </paper-dialog>
    </div>
  </template>

  <script>
    Polymer({ 

      is: "shuttles-map",

      properties: {
        lat: {
          type: String,
          reflectToAttribute: true
        },
        lng : {
          type: String, 
          reflectToAttribute: true
        },
        zoom: {
          type: Number,
          reflectToAttribute: true
        },
        vehicles: {
          type: Array,
          value: []
        },
        stops: {
          type: Array,
          value: []
        },
        routes: {
          type: Array,
          value: []
        },
        messages: {
          type: Array,
          value: []
        }
      },

      listeners: {
        'google-map-ready': 'initializeTracking'
      },

      toggleMenu: function() {
        this.$.menuDialog.open();
      },

      initializeTracking: function() {
        this.$.fetchMessages.generateRequest();
        this.$.fetchRoutes.generateRequest();
        this.$.fetchUpdates.generateRequest();
        this.$.fetchStops.generateRequest();
        this.periodicUpdates();
      },

      periodicUpdates: function() {
        // periodically check for vehicle & route updates
        setInterval(this.checkForUpdates, 15000, this.$.fetchMessages);
        setInterval(this.checkForUpdates, 15000, this.$.fetchUpdates);
        setInterval(this.checkForUpdates, 15000, this.$.fetchRoutes);
        setInterval(this.checkForUpdates, 15000, this.$.fetchStops);
      },

      checkForUpdates: function(ajax) {
        ajax.generateRequest();
      },

      placeVehicles: function(event, response) {
        var updates = response.response;
        if (updates) {
          // Clear previous vehicle markers from map
          this.clearMarkers(this.vehicles);
          // Iterate through each vehicle update
          for (i = 0; i < updates.length; i++) {
            // Create position from vehicle coordinates
            var pos = new google.maps.LatLng(
              updates[i]["lat"], 
              updates[i]["lng"]);
            // Place shuttle marker on map
            var marker = new google.maps.Marker({
              position: pos,
              map: this.$.shuttleMap.map,
              icon: {
                // Replace this path for future shuttle icon
                //  icon has to be an svg file
                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                scale: 2.5,
                rotation: parseInt(updates[i]["heading"])
              },
              title: updates[i]["vehicleID"]
            });
            // Get update message for the info window
            var contentString = this.messages[i];
            // Create info window and open it when shuttle clicked
            (function(marker, i) {
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              google.maps.event.addListener(marker, 'click', function(){
                infowindow.open(marker.map, marker);
              });
            })(marker, i);
            this.vehicles.push(marker);
          }
        } else {
          console.log("no vehicle updates found");
        }
      },

      clearMarkers: function(markers) {
        for (i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
      },

      drawRoutes: function(event, response) {
        // Draw polylines on map to represent tracking routes
        this.clearRoutes(this.routes);
        var routes = response.response;
        if (routes) {
          this.$.shuttleMap.clear();
          for (var i = 0; i < routes.length; i++) {
            // Route details
            var data = routes[i];
            var coords = data['coords'];
            var color = data['color'];
            var width = data['width'];
            // Add route to map
            var route = new google.maps.Polyline({
              path: coords,
              geodesic: true,
              strokeOpacity: 1,
              strokeColor: color,
              strokeWeight: width
            });
            route.setMap(this.$.shuttleMap.map);
            this.routes.push(route);
          }
        }
      },

      clearRoutes: function(routes) {
        for (i = 0; i < routes.length; i++) {
          routes[i].setMap(null);
        }
        routes = [];
      },

      placeStops: function(event, response) {
        var stops = response.response;
        if (stops) {
          // Clear previous stop markers
          this.clearMarkers(this.stops);
          for (i = 0; i < stops.length; i++) {
            // Create position from stop coordinates 
            var pos = new google.maps.LatLng(
              stops[i]["lat"],
              stops[i]["lng"]);
            // Place stop marker on map
            var marker = new google.maps.Marker({
              position: pos,
              map: this.$.shuttleMap.map,
              icon: "static/images/stop.png",
              title: stops[i]["name"]
            });
            // Create infowindow and open it when a stop is clicked
            (function(marker, i) {
              var contentString = '<b>' + stops[i]["name"] + '</b>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              google.maps.event.addListener(marker, 'click', function(){
                infowindow.open(marker.map, marker);
              });
            })(marker, i);
            this.stops.push(marker);
          }
        } else {
          console.log("no vehicle stops found");
        }
      }
    });
  </script>
  <script>
    // select the first page when site is loaded
    document.addEventListener('WebComponentsReady', function () {
      var template = document.querySelector('template[is="dom-bind"]');
      template.selected = 0;
    });
  </script>
</dom-module>
