<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<dom-module id="tracking-vehicles">
  <style>
    .vehicle-form {
      margin: 25px;
      padding: 20px;
      background: #ffffff;
    }
    .vehicle-form paper-button {
      background: #3f51b5;
      color: white;
    }
    .vehicle-edit {
      margin: 25px;
      padding: 20px;
      background: #ffffff;
    }
    .vehicle-edit paper-button {
      background: #3f51b5;
      color: white;
    }
    .vehicle-card {
      margin: 5px;
    }
    .vehicle-list h1 {
      margin-left: 15px;
    }
    .vehicle-list .vehicle-card {
      margin-left: 15px;
    }
    .vehicle-action {
      --iron-icon-height: 20px;
      --iron-icon-width: 20px;
    }
    .vehicles-container {
      margin: 25px;
      padding: 10px;
      background: #ffffff;
    }
  </style>

  <template>
    <iron-ajax
      auto
      id="updateVehicles"
      url="/vehicles"
      handle-as="json"
      last-response="{{vehicles}}">
    </iron-ajax>

    <iron-ajax id="ajaxDelete" method="DELETE" on-response="addVehicleResponse"></iron-ajax>

    <div class="vehicle-list">
      <template is="dom-if" if="{{vehicles}}">
        <paper-material class="vehicles-container">
          <h1> Vehicles </h1>
          <template is="dom-repeat" items="{{vehicles}}" as="vehicle">
            <paper-card class="vehicle-card" heading="{{vehicle.vehicleName}}" elevation="2">
              <div class="card-content">
                <b> ID: </b> <span>{{vehicle.vehicleID}}</span>
              </div>
              <div class="card-actions">
                <paper-icon-button on-click="editVehicle" icon="create" class="create"></paper-icon-button>
                <paper-icon-button on-click="deleteVehicle" icon="delete" class="delete"></paper-icon-button>
              </div>
            </paper-card>
          </template>
        </paper-material>
      </template>
    </div>

    <paper-material class="vehicle-form">
      <h1> New Vehicle </h1>
      <form is="iron-form" id="vehicleForm" content-type="application/json" method="post" action="/vehicles/create">
        <paper-input name="vehicleName" label="Vehicle Name"></paper-input>
        <paper-input name="vehicleID" label="Vehicle ID"></paper-input>
        <br />
        <paper-button raised onclick="submitVehicle()">Submit</paper-button>
      </form>
    </paper-material>

    <paper-material class="vehicle-form">
      <h1> Edit Vehicle </h1>
      <form is="iron-form" id="vehicleEdit" content-type="application/json" method="post" action="/vehicles/edit">
        <paper-input name="vehicleName" label="Vehicle Name"></paper-input>
        <paper-input name="vehicleID" label="Vehicle ID"></paper-input>
        <br />
        <paper-button raised onclick="submitVehicle()">Submit Updates</paper-button>
      </form>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'tracking-vehicles',
      listeners: {
        'iron-form-response': 'addVehicleResponse'
      },
      addVehicleResponse: function() {
        this.$.updateVehicles.generateRequest();
      },
      editVehicle: function(e) {

      },
      deleteVehicle: function(e) {
        var entry = Polymer.dom(e).path[6].textContent;
        var index = entry.search('I');
        var id = entry.substring(index+5,index+15);
        this.$.ajaxDelete.url = "/vehicles/" + id;
        this.$.ajaxDelete.generateRequest();
      }
    });

    function submitVehicle() {
      var form = document.getElementById("vehicleForm");
      form.submit();
      form.reset();
    }
    function submitEdits() {

      var form = document.getElementById("vehicleForm");
      form.submit();
      form.reset();
    }
  </script>
</dom-module>
