<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="stylesheet" type="text/css" href="../css/tracking-stops.css">

<dom-module id="tracking-stops">

  <template>
    <iron-ajax
      auto
      id="updateStops"
      url="/stops"
      handle-as="json"
      last-response="{{stops}}">
    </iron-ajax>
    <iron-ajax
      auto
      id="fetchRoutes"
      url="/routes"
      handle-as="json"
      on-response="drawRoutes"
      >
    </iron-ajax>
    <iron-ajax
      id="fetchStops"
      url="/stops"
      handle-as="json"
      on-response="editStopTwo">
    </iron-ajax>

    <iron-ajax id="ajaxDelete" method="DELETE" on-response="addStopResponse"></iron-ajax>


    <template is="dom-if" if="{{stops}}">
      <paper-material class="stops-list">
        <h1> Stops </h1>
        <template is="dom-repeat" items="{{stops}}" as="stop">
          <paper-card class="stop-card" heading="{{stop.name}}" elevation="2">
            <div class="card-content">
              <div class="layout vertical">
                <div> <b> ID: </b> <span>{{stop.id}}</span> </div>
                <div> <b> Enabled: </b> <span>{{stop.enabled}}</span> </div>
                <div> <b> Time: </b> <span>{{stop.startTime}}</span> - <span>{{stop.endTime}}</span> </div>
                <div> <b> Lat: </b> <span>{{stop.lat}}</span> </div>
                <div> <b> Lng: </b> <span>{{stop.lng}}</span> </div>
                <div> <b> RouteID: </b> <span>{{stop.routeId}}</span> </div>
              </div>
            </div>
            <div class="card-actions">
              <paper-icon-button on-click="editStop" icon="create" class="create"> </paper-icon-button>
              <paper-icon-button on-click="deleteStop" icon="delete" class="delete"></paper-icon-button>
            </div>
          </paper-card>
        </template>
      </paper-material>
    </template>

    <paper-material class="stops-form">
      <h1> New Stop </h1>
      <div class="layout horizontal">
        <div class="flex" style="flex:3">
          <google-map id="stopMap" class="stop-map" click-events="true" zoom="{{zoom}}" latitude="{{lat}}" longitude="{{lng}}"></google-map>
        </div>
        <div class="flex" style="flex:2">
          <form is="iron-form" id="stopForm" content-type="application/json" method="post" action="/stops/create">

            <paper-input name="routeId" label="Route Id" id="routeId" value=""></paper-input>
            <paper-input name="name" label="Stop Name" id="name" value=""></paper-input>
            <paper-input name="description" label="Description" id="desc" value=""></paper-input>
            <paper-input name="address" label="Address" id="addr" value=""></paper-input>
            <paper-input name="startTime" label="Start Time" id="start" value=""></paper-input>
            <paper-input name="endTime" label="End Time" id="end" value=""></paper-input>
            <br />
            <div>
              Stop Enabled?
              <paper-toggle-button checked="{{isEnabled}}" id="enButton"></paper-toggle-button>
              <input is="iron-input" type="hidden" name="enabled" id = "en" value="{{isEnabled}}">
            </div>
            <br />
            <input type="hidden" name="id" id="id">
            <input type="hidden" name="lat" id="stopLat">
            <input type="hidden" name="lng" id="stopLng">
            <input type="hidden" name="toDelete" id="toDelete">
          
            <paper-button class="submit-stop" raised on-click="submitStop">Submit</paper-button>
          </form>
        </div>
      </div>
    </paper-material>

  </template>

  <script>
    Polymer({
      is: 'tracking-stops',
      properties: {
        lat: {
          type: String,
          reflectToAttribute: true
        },
        lng: {
          type: String,
          reflectToAttribute: true
        },
        zoom: {
          type: Number,
          reflectToAttribute: true
        },
        stopMarker: {
          type: Object
        }
      },
      listeners: {
        'iron-form-response': 'addStopResponse',
        'google-map-click': 'addStopMarker'
      },
      ready: function() {
        this.$.fetchRoutes.generateRequest();
        this.stopMarker = null;
      },
      clearStopMarker: function() {
        if (this.stopMarker) {
          this.stopMarker.setMap(null);
        }
        this.stopMarker = null;
      },
      addStopMarker: function(e) {
        this.clearStopMarker();
        var pos = new google.maps.LatLng(
          e.detail.latLng.lat(),
          e.detail.latLng.lng());
        this.stopMarker = new google.maps.Marker({
          position: pos,
          map: this.$.stopMap.map,
        });
        this.updateStopForm();
      },
      updateStopForm: function() {
        this.$.stopLat.value = this.stopMarker.position.lat();
        this.$.stopLng.value = this.stopMarker.position.lng();
      },
      deleteStop: function(e){
        var entry = Polymer.dom(e).path[6].textContent;
        var index = entry.search("ID");
        var id = entry.substring(index+5,index+29);

        this.$.ajaxDelete.url = "/stops/" + id;
        this.$.ajaxDelete.generateRequest();
      },
      editStop: function(e){
        var entry = Polymer.dom(e).path[6].textContent;
        var index = entry.search("ID");
        var id = entry.substring(index+5,index+29);
        this.$.id.value = id;

        this.$.fetchStops.generateRequest();
      },
      editStopTwo: function(e,response){

        var stops = response.response;
        if (stops) {
          for (i = 0; i < stops.length; i++) {

            if(stops[i]["id"] == this.$.id.value){
              var pos = new google.maps.LatLng(
                stops[i]["lat"],
                stops[i]["lng"]);
              // Place stop marker on map
              this.clearStopMarker();
              this.stopMarker = new google.maps.Marker({
                position: pos,
                map: this.$.stopMap.map,
                title: stops[i]["name"]
              });
              this.updateStopForm();

              this.$.routeId.value = stops[i]["routeId"];
              this.$.name.value = stops[i]["name"];
              this.$.en.value = stops[i]["enabled"];
              //This doesnt work?
              this.$.enButton.value = stops[i]["enabled"];
              this.$.routeId.value = stops[i]["routeId"];
              this.$.desc.value = stops[i]["description"];
              this.$.addr.value = stops[i]["address"];
              this.$.start.value = stops[i]["startTime"];
              this.$.end.value = stops[i]["endTime"];
              this.$.toDelete.value = true;
              //Temporary but should be fine
              this.$.ajaxDelete.url = "/stops/" + this.$.id.value;
              break;
            }
          }
        } else {
          console.log("no vehicle stops found");
        }

      },

      drawRoutes: function(event, response) {

        var routes = response.response;
        if (routes) {
          this.$.stopMap.clear();

          for (var i = 0; i < routes.length; i++) {
            // Route details
            var data = routes[i];
            var coords = data['coords'];
            var color = data['color'];
            var width = data['width'];
            // Add route to map
            var route = new google.maps.Polyline({
              path: coords,
              geodesic: true,
              strokeOpacity: 1,
              strokeColor: color,
              strokeWeight: width
            });
            route.setMap(this.$.stopMap.map);
          }
        }
      },

      addStopResponse: function() {
        this.$.updateStops.generateRequest();
      },
      submitStop: function() {
        if(this.$.toDelete.value == "true"){
          this.$.ajaxDelete.generateRequest();

        }

        this.$.toDelete.value = false;
        var form = document.getElementById("stopForm");
        form.submit();
        form.reset();
      }
    });

  </script>
</dom-module>
