<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="tracking-routes">
  <style>
    .route-form {
      background: #ffffff;
      margin: 25px;
      padding: 25px;
    }
    .route-map {
      width: 750px;
      height: 500px;
    }
    .routes-container {
      background: #ffffff;
      margin: 25px;
      padding: 10px;
    }
    .submit-route {
      background: #3f51b5;
      color: #ffffff;
    }
  </style>

  <template>
    <iron-ajax
      auto
      id="updateRoutes"
      url="/routes"
      handle-as="json"
      last-response="{{routes}}">
    </iron-ajax>

    <div class="route-list">
      <template is="dom-if" if="{{routes}}">
        <paper-material class="routes-container">
          <h1> All Routes </h1>
          <template is="dom-repeat" items="{{routes}}" as="route">
            <b> Name: </b> <span>{{route.name}}</span>
            <b> StartTime: </b> <span>{{route.startTime}}</span>
            <b> EndTime: </b> <span>{{route.endTime}}</span>
            <b> Enabled: </b> <span>{{route.enabled}}</span>
            <b> Color: </b> <span>{{route.color}}</span>
            <b> Width: </b> <span>{{route.width}}</span>
            <br />
          </template>
        </paper-material>
      </template>
    </div>

    <paper-material class="route-form">
      <h1> New Route </h1>
      <google-map id="routeMap" class="route-map" click-events="true" zoom="{{zoom}}" latitude="{{lat}}" longitude="{{lng}}"></google-map>
      <br />
      <form class="new-route" is="iron-form" id="routeForm" content-type="application/json" method="post" action="/routes/create">
        <paper-input name="name" label="Route Name"></paper-input>
        <paper-input name="description" label="Description"></paper-input>
        <paper-input name="startTime" label="Start Time"></paper-input>
        <paper-input name="endTime" label="End Time"></paper-input>
        <paper-input name="color" label="Color"></paper-input>
        <paper-input name="width" label="Width"></paper-input>
        <br />
        <div> 
          Route Enabled?
          <paper-toggle-button checked="{{isEnabled}}"></paper-toggle-button> 
          <input is="iron-input" type="hidden" name="enabled" value="{{isEnabled}}">
        </div>
        <br />
        <input type="hidden" name="coords" id="formRouteCoords">
        <paper-button class="submit-route" raisedButton onclick="submitRoute()">Submit</paper-button>
      </form>
    </paper-material>
  </template>

  <script>
    Polymer({ 
      is: 'tracking-routes',
      properties: {
        lat: {
          type: String,
          reflectToAttribute: true
        },
        lng: {
          type: String,
          reflectToAttribute: true
        },
        zoom: {
          type: Number,
          reflectToAttribute: true
        },
        routeCoords: {
          type: Array,
          value: []
        }
      },
      listeners: {
        'iron-form-response': 'addRouteResponse',
        'google-map-click': 'newRouteCoord'
      },
      observers: [
        "updateFormRoutes(routeCoords.splices)"
      ],
      ready: function() {
        this.routeCoords = [];
      },
      addRouteResponse: function() {
        this.$.updateRoutes.generateRequest();
      },
      newRouteCoord: function(e) {
        var coord = {
          lat: e.detail.latLng.lat(),
          lng: e.detail.latLng.lng()
        };
        this.push('routeCoords', coord);
        this.drawRoute();
      },
      drawRoute: function() {
        this.$.routeMap.clear();
        var newRoutePath = new google.maps.Polyline({
          path: this.routeCoords,
          geodesic: true,
          strokeOpacity: 1.0,
          strokeColor: '#FF0000',
          strokeWeight: 2
        });
        newRoutePath.setMap(this.$.routeMap.map);
      },
      clearRoutes: function() {
        this.routeCoords = [];
        this.$.routeMap.clear();
      },
      updateFormRoutes: function(cr) {
        this.$.formRouteCoords.value = JSON.stringify(this.routeCoords);
      }
    });

    function submitRoute() {
      var form = document.getElementById("routeForm");
      form.submit();
      form.reset();
    }
  </script>
</dom-module>
