<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="stylesheet" type="text/css" href="../css/tracking-routes.css">

<dom-module id="tracking-routes">


  <template>
    <iron-ajax
      auto
      id="updateRoutes"
      url="/routes"
      handle-as="json"
      last-response="{{routes}}">
    </iron-ajax>
    <iron-ajax id="ajaxDelete" method="DELETE" on-response="addRouteResponse"></iron-ajax>

    <template is="dom-if" if="{{routes}}">
      <paper-material class="routes-container">
        <h1> Routes </h1>
        <template is="dom-repeat" items="{{routes}}" as="route">
          <paper-card class="route-card" heading="{{route.name}}" elevation="2">
            <div class="card-content">
              <div class="layout vertical">
                <div> <b> Description: </b> <span>{{route.description}}</span> </div>
                <div> <b> Enabled: </b> <span>{{route.enabled}}</span> </div>
                <div> <b> Time: </b> <span>{{route.startTime}}</span> - <span>{{route.endTime}}</span> </div>
                <div> <b> Color: </b> <span>{{route.color}}</span> </div>
                <div> <b> ID: </b> <span>{{route.id}}</span> </div>
              </div>
            </div>
            <div class="card-actions">
              <paper-icon-button on-click="editRoute" icon="create" class="create"> </paper-icon-button>
              <paper-icon-button on-click="deleteRoute" icon="delete" class="delete"></paper-icon-button>
            </div>
          </paper-card>
        </template>
      </paper-material>
    </template>

    <paper-material class="route-form">
      <h1> New Route </h1>
      <div class="layout horizontal">
        <div class="flex" style="flex:3">
          <google-map id="routeMap" class="route-map" click-events="true" zoom="{{zoom}}" latitude="{{lat}}" longitude="{{lng}}"></google-map>
        </div>
        <div class="flex" style="flex:2">
          <form is="iron-form" id="routeForm" content-type="application/json" method="post" action="/routes/create">
            <paper-input name="name" label="Route Name"></paper-input>
            <paper-input name="description" label="Description"></paper-input>
            <paper-input name="startTime" label="Start Time"></paper-input>
            <paper-input name="endTime" label="End Time"></paper-input>
            <paper-input name="color" label="Color"></paper-input>
            <paper-input name="width" label="Width"></paper-input>
            <br />
            <div>
              Route Enabled?
              <paper-toggle-button checked="{{isEnabled}}"></paper-toggle-button>
              <input is="iron-input" type="hidden" name="enabled" value="{{isEnabled}}">
            </div>
            <br />
            <input type="hidden" name="coords" id="formRouteCoords">
            <paper-button class="submit-route" raised onclick="submitRoute()">Submit</paper-button>
          </form>
        </div>
      </div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'tracking-routes',
      properties: {
        lat: {
          type: String,
          reflectToAttribute: true
        },
        lng: {
          type: String,
          reflectToAttribute: true
        },
        zoom: {
          type: Number,
          reflectToAttribute: true
        },
        routeCoords: {
          type: Array,
          value: []
        }
      },
      listeners: {
        'iron-form-response': 'addRouteResponse',
        'google-map-click': 'newRouteCoord'
      },
      observers: [
        "updateFormRoutes(routeCoords.splices)"
      ],
      ready: function() {
        this.routeCoords = [];
      },
      addRouteResponse: function() {
        this.$.updateRoutes.generateRequest();
      },
      newRouteCoord: function(e) {
        var coord = {
          lat: e.detail.latLng.lat(),
          lng: e.detail.latLng.lng()
        };

        this.push('routeCoords', coord);
        this.drawRoute();
      },
      drawRoute: function() {
        this.$.routeMap.clear();
        var newRoutePath = new google.maps.Polyline({
          path: this.routeCoords,
          geodesic: true,
          strokeOpacity: 1.0,
          strokeColor: '#FF0000',
          strokeWeight: 2
        });

        newRoutePath.setMap(this.$.routeMap.map);
      },
      clearRoutes: function() {
        this.routeCoords = [];
        this.$.routeMap.clear();
      },
      updateFormRoutes: function(cr) {
        this.$.formRouteCoords.value = JSON.stringify(this.routeCoords);
      },
      editRoute: function(e) {

      },
      deleteRoute: function(e) {
        var entry = Polymer.dom(e).path[6].textContent;
        var index = entry.search("ID");
        var id = entry.substring(index+5,index+29);

        this.$.ajaxDelete.url = "/routes/" + id;
        this.$.ajaxDelete.generateRequest();

      }
    });

    function submitRoute() {
      var form = document.getElementById("routeForm");
      form.submit();
      form.reset();
    }
  </script>
</dom-module>
