{
  "Updater": {
    "DataFeed": "",
    "UpdateInterval": "3s"
  },
  "API": {
    "GoogleMapAPIKey": "",
    "GoogleMapMinDistance": 1,
    "CasURL": "https://cas-auth.rpi.edu/cas/",
    "Authenticate": true,
    "ListenURL": "127.0.0.1:8080"
  },
  "Database": {
    "MongoURL": "127.0.0.1:27017"
  },
  "Log": {
    "Level": "debug"
  }
}
