html, body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}


.title-bar{
  background-color: white;
  width: 100%;
  height: 50px;
  float: none;
  position: absolute;
  line-height: 50px;
  vertical-align: center;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25);
  top: 0;
  left: 0;
  user-select:none;
  z-index: 2;
}
.main{
  width: 90%;
  height: auto;
  top: 50px;
  left: 10%;
  bottom: 0px;
  background-color: #eee;
  position: fixed;
}

.route-description-box{
  padding: 10px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 70%;
  background-color: white;
  height: auto;
}
.emphasis{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.content{
  padding: 0px;
  margin: 0px;
}

.nav-list{
  padding: 0;
}
.nav-item{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  padding-left: 0px;
  height: 20px;
  margin-top: 0px;
  text-decoration: none;
  background-color: #white;
  list-style-type: none;
  margin-left: 0;
}
.nav-item:hover{
  cursor: pointer;
  color: white;
  background-color: #e74c3c
}

.selected{
  color: white;
  background-color: #e74c3c;
}

.red{
  color: #e74c3c;
}

.sidebar{
  top: 40px;
  padding-top: 10px;
  width: 10%;
  z-index: 1;
  height: auto;
  bottom: 0;
  position: fixed;

  background-color: white;
  box-shadow: 0 3px 7px rgba(0,0,0,0.25);

}

.title{
  padding: 0px;
  margin-top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 10%;
  position: absolute;
  font-size: 22px;
  float:left;
  text-align: center;
}
.formtext{
  float:left;
  margin: 10px;
  padding: 5px;
}

.mapform{
  height: 25%;
  width: 100%;
  float: right;
  margin-top: 10px;
}
.textbox{
  float: right;
  border-style: none;;
  border-width: 0px;
  height: 15px;

  background-color: rgba(255,255,255,.5);
  box-shadow: inset 1px 1px 2px 0 #707070;
}
.center{
  width: 300px;
  height: auto;
  margin: auto;
  height: 300px;
  left: 0;
  right: 0;
  float: none;
}

.prompt{
  display: none;
  z-index: 19;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt-box{
  float:none;
  position: absolute;
  z-index: 20;
  margin: auto;
  text-align: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 50%;
  background-color: #ecf0f1;
  border-radius: 20px;
}
.cbutton{
  float:left;
  bottom: 10px;
  background-color: transparent;
}
.button{
  user-select: none;
  margin: 2px;
  background-color: white;
  padding: 5px;
  font-size: 12px;
  text-decoration: none;
  background-color: none;
  border-style: solid;
  border-color: #e74c3c;
  border-width: 1px;
  transition: background-color 0.5s ease;
  color: #e74c3c;
}
.button:hover{
  background-color: #e74c3c;
  color: #eee;
  cursor: pointer;

}

.logout{
  margin-right: 10px;
  margin: 3px;
  float: right;

}
.routePanel{
  display: none;
  position: fixed;
  height: auto;
  float: none;
  top: 34px;
}
.vehicle-panel{
  position: inherit;
  height: auto;
  bottom: 0;
  width: inherit;
  float: none;
  background-color: transparent;
  overflow: scroll;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
  top:50px;
}

.logout:hover{
  background-color: #e74c3c;
  color: #eee;

}

.routePanel{
  width: 50%;
  height: 100%;
  overflow: scroll;
  float: left;
}
.mapPanel{
  width: 50%;
  float: right;
  height: 100%;
  overflow:scroll;
  display: none;
}
.stopPanel{
  width: 50%;
  float: right;
  height: 100%;
  overflow: scroll;
}
.stopInfo{
  height: 50%;
}
.route-description-box{
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2
  grid-row-end: span 2
  width: 90%;
  background-color: white;
  height: auto;
}
.emphasis{
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.content{
  padding: 0px;
  margin: 0px;
}
.mapControls{
  float: right;
}
