html, body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.active {
  background-color: #d9534f;
  color: #ffffff;
}

.title {
  font-size: 22px;
  padding-top: 0px;
  margin-top: 3px;
  margin-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  float: left;
}

.titleBox {
  width: 100%;
  height: 100%;
  background-color: black;
}

.page-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.titleBar {
  height:34px;
  float:none;
  position: absolute;;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.8);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleContent {
  height: 100%;
  z-index: 1;
  width: 100%;
  position: absolute;
}

.logo {
  float: right;
  height: 24px;
  margin-top: 5px;
  margin-right: 4px;
}

.logo img {
  height: 100%;
}

#navheader {
  background-color: #686868;
  margin: 0px;
  padding: 0px;
}

#navheader > span > a {
  color: white;
  text-decoration: none;
}


/* CSS for dropdown menus */
.dropdown {
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-schedule {
  color: #333;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0px 15px;
  text-decoration: none;
}

a.dropdown-schedule {
  height: 34px;
  padding: 0px 3px;
}

a.dropdown-schedule > img{
  box-sizing: border-box;
  padding: 5px;
}

.dropdown li {
  float: left;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.dropdown > li {
  background: #ddd;
}

.dropdown li:hover {
  background: rgba(226, 226, 226, 0.85);
}

.dropdown-menu {
  background: rgba(238, 238, 238, 0.90);
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
}

.dropdown-menu li {
  float: none;
  width: 225px;
}

.dropdown-menu p {
  height: 24px;
  margin: 3px 5px;
}

.dropdown-menu a {
  box-sizing: border-box;
  color: #333333;
  padding: 3px 5px 3px 20px;
  text-decoration: none;
}

.dropdown-menu a:visited {
  color: #333333;
  text-decoration: none;
}

.dropdown-menu ul {
  top: 0px;
  left: 100%;
}

.dropdown li:hover > ul {
  display: block;
  /* makes menu visible */
}

#schedule-menu {
  font-size: large;
  font-weight: 500;
}
/* ===================== */
.pulsate {
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 1;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 100%;
        -webkit-transform:scale(.75);

    }
    50% {
        opacity: 70%;
        -webkit-transform:scale(1);
    }
    100% {
        opacity: 100%;
        -webkit-transform:scale(.75);

    }
}


.pulsating-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;

  &:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
