html, body {
  background-color: #e5e5e5;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.page-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#navheader {
  background-color: #686868;
  margin: 0px;
  padding: 0px;
}

#navheader > span > a {
  color: white;
  text-decoration: none;
}